<%- include('partials/header'); %>

<h1>Home</h1>
<p><%= homeContent %></p>
<%  postInputs.forEach(function (Post){ %> 
<h1><%= Post.title %> </h1>
<p><%= Post.content.substring(0,100) + "..." %>
  <% let url = "" %>  
  <a href="/posts/ <%= Post._id %>"  >Read more</a>
</p>
<% }); %>  

  <%- include('partials/footer'); %>
